 <br>
 <div id='about' style="font-size: 16px;">
   <b>About this Demo:</b>
<ul>
   <li>The code: <a href='https://github.com/gaussmath/flickr-rails-ajax' target='_blank'>@github</a>
   <li>The app in the cloud: <a href='http://www.cloudFoundry.com' target='_blank'>cloudFoundry.com</a>
   <li>The language: <a href='http://www.ruby-lang.org' target='_blank'>Ruby 1.9.2</a>
   <li>The framework:<a href='http://rubyonrails.org/' target='_blank'>Ruby on Rails 3.0.9</a>
   <li><a href='http://www.flickr.com/services/api/' target='_blank'>Flickr API</a> and <a href='http://hanklords.github.com/flickraw/README_rdoc.html' target='_blank'>flickraw</a>
   <li><a href='http://jquery.com/' target="_blank">JQuery</a> and Ajax.
</ul>  
</div>
 <br> <br> <br>