 <br>
 <div id='about' style="font-size: 16px;">
   <b>About this Demo:</b>
<ul>
   <li><a href='http://www.cloudFoundry.com' target='_blank'>CloudFoundry.com</a><br>
    <li><a href='http://www.ruby-lang.org' target='_blank'>Ruby 1.9.2</a><br>
    <li><a href='http://rubyonrails.org/' target='_blank'>Ruby on Rails 3.0.9</a><br>
    <li><a href='http://www.flickr.com/services/api/'>Flickr API</a> and <a href='http://hanklords.github.com/flickraw/README_rdoc.html'>flickraw </a> <br>
    <li><a href='http://jquery.com/' target="_blank">JQuery</a> and Ajax <br>
</ul>  
</div>
 <br> <br> <br>