 <script type="text/javascript" charset="utf-8">
 
 $(document).ready(function(){
   $("#search_form")
   .bind('ajax:success', function(evt, data, status, xhr)
   {
      $("#photos").html(data);
	  $("#photos").show();
	  $("#spinner").hide();
   })
   .bind('ajax:before', function(evt, data, status, xhr)
   {
      $("#spinner").show();
   });

  });      
  </script>

<% form_tag url_for(:action => 'search'), :remote => true, :id => 'search_form' do %>
  <fieldset>
   <label for="tags">Search by Tag(s):</label>
   <%= text_field_tag 'tags' %>   
   <%= image_submit_tag('search2.png') %>
   <%= image_tag 'black_spinner.gif', :id => 'spinner', :style => 'display: none' %>
   </br>
   <label for="tags">Results per page:</label>
   <%= text_field_tag 'per_page', '24', :maxlength => 2, :size => 2 %>
   </br>
   <spam style="font-size: 12px;">Example: wildlife, landscape, houston</spam>
  </fieldset>
  </br>
  <div id="photos" style="display: none"></div>
<% end %>
  