<br>
<br>
<br>
   <div align='center'>
     <%= link_to image_tag('demoBlue.png', :alt => "Click me", :border => "0"), url_for(:action => 'demo', :controller => 'flickr')%>
	 <%= image_tag('presentationGreen.png')%>
   </div>
 
